.main{
  background-image: url("https://images.pexels.com/photos/114735/pexels-photo-114735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 500px;
  width: 96%;
  margin: auto;
}
.flex{
  display: flex;
}
.center{
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
}

.apartment{
  height: 75px;
}

